.dashboard_container{
  width: 100%;
  display: flex;
}

.dashboard_container .sidebar{
  width: 25%;
  height: 100vh;
  margin-right: 10px;
}

.dashboard_container .body{
  width: 100%;
}
.dashboard_container .header{
  width: 90%;
}
.dashboard_container .content{
  margin-top: 20px;
  width: 100%;
}
.hide{
  display: none;
}